.addWishForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addWishForm > mat-form-field {
  width: 90%;
}

mat-list-item {
  background: white;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
  height: unset !important;
}

mat-checkbox small {
  font-size: medium;
  color: rgb(0 0 0 / 87%) !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.wish {
  display: block;
}

.wish > * {
  width: 100%;
}
