<h1>
  Liste des cadeaux de {{ currentKid.name }}
</h1>

@if (currentKid.wishes?.length === 0) {
  <div style="margin-bottom: 1rem;">
    {{ currentKid.name }} n'a pas encore envoyé sa liste au père Noël (ou les lutins sont en grève !)
  </div>
}

<mat-list role="list">
  @for (wish of currentKid.wishes; track wish) {
    <mat-list-item
      >
      <div class="wish">
        @if (wish.name) {
          <h2 style="margin-bottom: 0;" class="ellipsis">
            {{ wish.name }}
          </h2>
        }
        <a class="ellipsis" target="_blank" [href]="wish.link">
          {{ wish.link }}
        </a>
        <br>
          @if (wish.comment) {
            <p>
              {{ wish.comment }}
            </p>
          }
          @if (wish.price !== undefined) {
            <p>
              <small>
                Prix : {{ wish.price }} €
              </small>
            </p>
          }
          <mat-checkbox disabled color="primary" style="margin-left: auto" [checked]="wish.gifted">
            @if (wish.gifted) {
              <small class="ellipsis">
                Offert par {{ wish.gifter }}
              </small>
            }
            @if (!wish.gifted) {
              <small class="ellipsis">
                Le cadeau n'est toujours pas offert
              </small>
            }
          </mat-checkbox>
          <div class="buttons">
            @if (!wish.gifted) {
              <button mat-flat-button color="primary" (click)="handleSelect(wish)">
                Offrir ce cadeau
              </button>
            }
            <button style="margin-left: auto" mat-icon-button color="primary" (click)="handleEdit(wish)">
              <mat-icon>edit</mat-icon>
            </button>
            @if (!wish.gifted) {
              <button mat-icon-button color="warn" (click)="handleDelete(wish)">
                <mat-icon>delete</mat-icon>
              </button>
            }
          </div>
        </div>
      </mat-list-item>
    }
  </mat-list>

  <ng-container>
    <div style="margin-top: 1rem">
      <button matTooltip="Ajouter un cadeau" mat-stroked-button color="primary" (click)="openAddWishDialog()">
        Ajouter un cadeau
      </button>
    </div>
  </ng-container>
