.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  .buttons > * {
    margin-top: .5rem;
  }
}
