<div style="padding: 1rem;">
  <h2>
    Vous êtes sur le point de marquer le cadeau comme commandé.
  </h2>

  <h4>
    Rappel des informations :
  </h4>

  @if (wish.name) {
    <p>
      Nom : {{ wish.name }}
    </p>
  }

  @if (wish.comment) {
    <p>
      Commentaire du cadeau : {{ wish.comment }}
    </p>
  }

  @if (wish.link) {
    <p>
      Lien : <a href="{{ wish.link }}" target="_blank">{{ wish.link }}</a>
    </p>
  }

  @if (wish.price) {
    <p>
      Prix : {{ wish.price }} €
    </p>
  }

  <hr style="margin-block: 1rem;">

  <form style="margin-bottom: 2rem;">
    <mat-form-field style="width: 100%">
      <mat-label>Votre nom :</mat-label>
      <input type="text" matInput [formControl]="gifter" [errorStateMatcher]="matcher">
      <mat-hint>
        Ce nom sera visible pour les autres pères Noël (mais pas pour le destinataire du cadeau).
      </mat-hint>
      @if (gifter.hasError('required')) {
        <mat-error>
          Le nom est obligatoire.
        </mat-error>
      }
    </mat-form-field>

  </form>

  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="handleCancel()">
      Annuler
    </button>

    <button (click)="handleSubmit()" mat-raised-button color="primary">
      Je suis le Père Noël de ce cadeau ! 🎅🏻
    </button>
  </div>

</div>
