<mat-sidenav-container class="family">
  <mat-sidenav class="sidenav" mode="side" [opened]="(sidenavToggled | async) ?? false">
    <h1>
      Listes des adultes :
    </h1>
    <div (click)="selectUser(user)" *ngFor="let user of family?.users">
      <button *ngIf="user.email !== currentUser?.email" mat-stroked-button color="primary">
        {{ user.name }} {{ user.email === connectedUser?.email ? '(moi)' : '' }}
      </button>
      <button *ngIf="user.email === currentUser?.email" mat-flat-button color="primary">
        {{ user.name }} {{ user.email === connectedUser?.email ? '(moi)' : '' }}
      </button>
    </div>

    <div>
      <button matTooltip="Ajouter un utilisateur" mat-button color="primary" (click)="openAddUserDialog()">
        Ajouter un adulte
      </button>
    </div>

    <h1>
      Listes des enfants :
    </h1>
    <div (click)="selectKid(kid)" *ngFor="let kid of family?.kids">
      <button *ngIf="kid.id !== currentKid?.id" mat-stroked-button color="primary">
        {{ kid.name }}
      </button>
      <button *ngIf="kid.id === currentKid?.id" mat-flat-button color="primary">
        {{ kid.name }}
      </button>
    </div>

    <div>
      <button matTooltip="Ajouter un enfant" mat-button color="primary" (click)="openAddKidDialog()">
        Ajouter un enfant
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <app-adult-wishlist [currentUser]="currentUser" *ngIf="currentUser"></app-adult-wishlist>
    <app-kid-wishlist [currentKid]="currentKid" *ngIf="currentKid"></app-kid-wishlist>

  </mat-sidenav-content>
</mat-sidenav-container>
