<mat-sidenav-container class="family">
  <mat-sidenav mode="side" opened>
    <div (click)="selectUser(user)" *ngFor="let user of family?.users">
      <button *ngIf="user.email !== currentUser?.email" mat-stroked-button color="primary">
        {{ user.name }} {{ user.email === connectedUser?.email ? '(moi)' : '' }}
      </button>
      <button *ngIf="user.email === currentUser?.email" mat-flat-button color="primary">
        {{ user.name }} {{ user.email === connectedUser?.email ? '(moi)' : '' }}
      </button>
    </div>

    <div>
      <button matTooltip="Ajouter un utilisateur" mat-stroked-button color="primary" (click)="openAddUserDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-selection-list>
      <div style="margin-bottom: 1rem;" *ngIf="currentUser?.wishes?.length === 0">
        L'utilisateur n'a pas encore envoyé sa liste au père Noël (ou les lutins sont en grève !)
      </div>

      <mat-list-item
        *ngFor="let wish of currentUser?.wishes"
        (click)="handleSelect(wish)"
      >
        <div style="display: flex; align-items: center">
          <a target="_blank" (click)="$event.stopPropagation()" [href]="wish.link">{{ wish.link }}</a>
          <small *ngIf="wish.gifted && currentUser.email !== connectedUser.email">
            Offert par {{ wish.gifter }}
          </small>

          <mat-checkbox color="primary" disabled style="margin-left: auto" [matTooltip]="wish.gifted ? 'Cadeau offert' : 'Le cadeau n\'est toujours pas offert'" [checked]="wish.gifted"></mat-checkbox>

          <button *ngIf="currentUser.email === connectedUser.email" mat-icon-button color="primary" (click)="handleDelete(wish)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-selection-list>

    <ng-container *ngIf="currentUser?.email === connectedUser?.email">
      <h4>
        Ajouter un cadeau
      </h4>
      <div class="addWishForm">
        <ng-container [formGroup]="addWishForm">
          <mat-form-field>
            <mat-label>Lien du cadeau</mat-label>
            <input [errorStateMatcher]="matcher" matInput placeholder="https://amazon.fr/..." formControlName="link">
          </mat-form-field>
          <button (click)="handleSubmitWish()" mat-icon-button color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
      </div>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>
