<h1>
  Liste des cadeaux de {{ currentUser.name }}
</h1>

<div style="margin-bottom: 1rem;" *ngIf="currentUser.wishes?.length === 0">
  L'utilisateur n'a pas encore envoyé sa liste au père Noël (ou les lutins sont en grève !)
</div>

<mat-list role="list">
  <mat-list-item
    *ngFor="let wish of currentUser.wishes"
  >
    <div class="wish">
      <h2 style="margin-bottom: 0;" *ngIf="wish.name" class="ellipsis">
        {{ wish.name }}
      </h2>

      <a class="ellipsis" target="_blank" [href]="wish.link">
        {{ wish.link }}
      </a>

      <br>

      <p *ngIf="wish.comment">
        {{ wish.comment }}
      </p>

      <mat-checkbox *ngIf="currentUser.email !== connectedUser?.email" disabled color="primary" style="margin-left: auto" [checked]="wish.gifted">
        <small class="ellipsis" *ngIf="wish.gifted">
          Offert par {{ wish.gifter }}
        </small>
        <small class="ellipsis" *ngIf="!wish.gifted">
          Le cadeau n'est toujours pas offert
        </small>
      </mat-checkbox>

      <div class="buttons">
        <button style="margin-left: auto;" *ngIf="currentUser.email !== connectedUser?.email && !wish.gifted" mat-flat-button color="primary" (click)="handleSelect(wish)">
          Offrir ce cadeau
        </button>

        <button style="margin-left: auto;" *ngIf="currentUser.email === connectedUser?.email" mat-icon-button color="warn" (click)="handleDelete(wish)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<ng-container *ngIf="currentUser.email === connectedUser?.email">
  <div style="margin-top: 1rem">
    <button matTooltip="Ajouter un cadeau" mat-stroked-button color="primary" (click)="openAddWishDialog()">
      Ajouter un cadeau
    </button>
  </div>
</ng-container>
