<div class="form__background">
  <div class="form" [formGroup]="authForm">
    <h1>
      Connexion
    </h1>

    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [errorStateMatcher]="matcher" matInput formControlName="email">
      </mat-form-field>

      @if (authForm.get('email')?.hasError('required') && authForm.get('email')?.dirty) {
        <mat-error>
          Le mail est <strong>requis</strong>
        </mat-error>
      }

      @if (authForm.get('email')?.hasError('email') && authForm.get('email')?.dirty) {
        <mat-error>
          Le mail n'est pas valide
        </mat-error>
      }
    </p>

    <p>
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input [errorStateMatcher]="matcher" matInput formControlName="name">
      </mat-form-field>

      @if (authForm.get('name')?.hasError('required') && authForm.get('name')?.dirty) {
        <mat-error>
          Le nom est <strong>requis</strong>
        </mat-error>
      }
    </p>

    <p>
      <small>
        Même si vous n'avez pas créé de compte, entrez une adresse mail et vous pourrez accéder à l'application.
      </small>
    </p>

    <p style="display: flex">
      <button (click)="handleConnection()" mat-flat-button color="primary">
        Se connecter
      </button>
    </p>
  </div>
</div>
