<header>
  <mat-toolbar role="heading" color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      @if (!(sidenavToggled | async)) {
        <mat-icon>menu</mat-icon>
      }
      @if (sidenavToggled | async) {
        <mat-icon>close</mat-icon>
      }
    </button>
    <span>
      <a routerLink="/" style="color: white; text-decoration: none">Laponie.gouv 🎅🏻</a>
    </span>
    <span class="spacer"></span>

    <button mat-button (click)="disconnect()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</header>
