<form style="padding: 1rem">
  <mat-form-field style="width: 100%">
    <mat-label>Email</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="email">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleOptionSelected($event)">
    @for (user of suggestedUsers; track user) {
      <mat-option [value]="user.email">
        {{user.name}} - {{user.email}}
      </mat-option>
    }
  </mat-autocomplete>

  <div class="buttons" style="display: flex; justify-content: flex-end">
    <button mat-flat-button color="primary" (click)="$event.preventDefault(); handleSendInvite()">
      Inviter
    </button>
  </div>
</form>
